/*
  SIZE
  h     -   height
  vh    -   viewport height
  min-h -   min-height
  min-vh-   min viewport height

  Media Query Extensions:
    -s = small
    -m  = medium
    -l  = large
    -xl = extra large

*/

/*----- HEIGHT -----*/
.h0-00{height:0.00rem}
.h0-0625{height:0.0625rem}
.h0-125{height:0.125rem}
.h0-25{height:0.25rem}
.h0-50{height:0.50rem}
.h0-75{height:0.75rem}
.h1-00{height:1.00rem}
.h1-25{height:1.25rem}
.h1-50{height:1.50rem}
.h1-75{height:1.75rem}
.h2-00{height:2.00rem}
.h2-50{height:2.50rem}
.h3-00{height:3.00rem}
.h3-25{height:3.25rem}
.h3-50{height:3.50rem}
.h3-75{height:3.75rem}
.h4-00{height:4.00rem}
.h5-00{height:5.00rem}
.h6-00{height:6.00rem}
.h8-00{height:8.00rem}
.h10-00{height:10.0rem}
.h12-00{height:12.0rem}
.h16-00{height:16.0rem}
.h20-00{height:20.0rem}
.h24-00{height:24.0rem}
.h30-00{height:30.0rem}
.h32-00{height:32.0rem}
.h40-00{height:40.0rem}
.h48-00{height:48.0rem}


.h-10{height:10%}
.h-15{height:15%}
.h-20{height:20%}
.h-25{height:25%}
.h-30{height:30%}
.h-40{height:40%}
.h-50{height:50%}
.h-60{height:60%}
.h-75{height:75%}
.h-80{height:80%}
.h-90{height:90%;}
.h-100{height:100%}


.vh-10{height:10vh}
.vh-15{height:15vh}
.vh-20{height:20vh}
.vh-25{height:25vh}
.vh-30{height:30vh}
.vh-40{height:40vh}
.vh-45{height:45vh}
.vh-50{height:50vh}
.vh-60{height:60vh}
.vh-75{height:75vh}
.vh-80{height:80vh}
.vh-90{height:90vh}
.vh-100{height:100vh}

.min-h-10{min-height:10%}
.min-h-15{min-height:15%}
.min-h-20{min-height:20%}
.min-h-25{min-height:25%}
.min-h-30{min-height:30%}
.min-h-40{min-height:40%}
.min-h-50{min-height:50%}
.min-h-60{min-height:60%}
.min-h-75{min-height:75%}
.min-h-80{min-height:80%}
.min-h-90{min-height:90%}
.min-h-100{min-height:100%}

.min-vh-10{min-height:10vh}
.min-vh-15{min-height:15vh}
.min-vh-20{min-height:20vh}
.min-vh-25{min-height:25vh}
.min-vh-30{min-height:30vh}
.min-vh-40{min-height:40vh}
.min-vh-50{min-height:50vh}
.min-vh-60{min-height:60vh}
.min-vh-75{min-height:75vh}
.min-vh-80{min-height:80vh}
.min-vh-90{min-height:90vh}
.min-vh-100{min-height:100vh}


.h-auto{height:auto}
.h-inherit{height:inherit}

/*----- WIDTH -----*/

.w0-00{width:0.00rem}
.w0-0625{width:0.0625rem}
.w0-125{width:0.125rem}
.w0-25{width:0.25rem}
.w0-50{width:0.50rem}
.w0-75{width:0.75rem}
.w1-00{width:1.00rem}
.w1-25{width:1.25rem}
.w1-50{width:1.50rem}
.w1-75{width:1.75rem}
.w2-00{width:2.00rem}
.w2-50{width:2.50rem}
.w3-00{width:3.00rem}
.w4-00{width:4.00rem}
.w5-00{width:5.00rem}
.w6-00{width:6.00rem}
.w8-00{width:8.00rem}
.w10-00{width:10.0rem}
.w12-00{width:12.0rem}
.w14-00{width:14.0rem}
.w15-00{width:15.0rem}
.w16-00{width:16.0rem}
.w20-00{width:20.0rem}
.w22-00{width:22.0rem}
.w24-00{width:24.0rem}
.w30-00{width:30.0rem}
.w32-00{width:32.0rem}
.w40-00{width:40.0rem}
.w48-00{width:48.0rem}


.w-10{width:10%}
.w-15{width:15%}
.w-20{width:20%}
.w-25{width:25%}
.w-30{width:30%}
.w-40{width:40%}
.w-50{width:50%}
.w-60{width:60%}
.w-70{width:70%}
.w-75{width:75%}
.w-80{width:80%}
.w-90{width:90%}
.w-100{width:100%}
.w-third{width:33.33333%}

.mxw-100{max-width:100%}
.mxw-16{max-width:16rem}
.mxw-24{max-width:24rem}
.mxw-32{max-width:32rem}
.mxw-48{max-width:48rem}
.mxw-64{max-width:64rem}
.mxw-96{max-width:96rem}
.mxw-128{max-width:128rem}

.mxw-none{max-width:none}

.mnw-1{min-width:1rem}
.mnw-2{min-width:2rem}
.mnw-4{min-width:4rem}
.mnw-8{min-width:8rem}
.mnw-12{min-width:12rem}
.mnw-16{min-width:16rem}
.mnw-32{min-width:32rem}
.mnw-12{width:12.0rem;}

.w-two-thirds{width:66.66667%}
.w-auto{width:auto}
.w-fc{width: fit-content;}

/*----- OVER FLOW -----*/
.of-visible{overflow:visible}
.of-hidden{overflow:hidden}
.of-scroll{overflow:scroll}
.of-auto{overflow:auto}
.of-x-visible{overflow-x:visible}
.of-x-hidden{overflow-x:hidden}
.of-x-scroll{overflow-x:scroll}
.of-x-auto{overflow-x:auto}
.of-y-visible{overflow-y:visible}
.of-y-hidden{overflow-y:hidden}
.of-y-scroll{overflow-y:scroll}
.of-y-auto{overflow-y:auto}


.measure{max-width:30em}
.measure-wide{max-width:34em}
.measure-narrow{max-width:20em}


/* ----- Mobo First Media Queries -----*/       

@media(min-width:512px) { 
/*----- HEIGHT -----*/
.h0-00-s{height:0.00rem}
.h0-0625-s{height:0.0625rem}
.h0-125-s{height:0.125rem}
.h0-25-s{height:0.25rem}
.h0-50-s{height:0.50rem}
.h0-75-s{height:0.75rem}
.h1-00-s{height:1.00rem}
.h1-25-s{height:1.25rem}
.h1-50-s{height:1.50rem}
.h1-75-s{height:1.75rem}
.h2-00-s{height:2.00rem}
.h2-50-s{height:2.50rem}
.h3-00-s{height:3.00rem}
.h4-00-s{height:4.00rem}
.h5-00-s{height:5.00rem}
.h6-00-s{height:6.00rem}
.h6-50-s{height:6.50rem}
.h8-00-s{height:8.00rem}
.h10-00-s{height:10.0rem}
.h12-00-s{height:12.0rem}
.h16-00-s{height:16.0rem}
.h20-00-s{height:20.0rem}
.h24-00-s{height:24.0rem}
.h30-00-s{height:30.0rem}
.h32-00-s{height:32.0rem}
.h40-00-s{height:40.0rem}
.h48-00-s{height:48.0rem}


.h-10-s{height:10%}
.h-15-s{height:15%}
.h-20-s{height:20%}
.h-25-s{height:25%}
.h-30-s{height:30%}
.h-40-s{height:40%}
.h-50-s{height:50%}
.h-60-s{height:60%}
.h-75-s{height:75%}
.h-80-s{height:80%}
.h-90-s{height:90%;}
.h-100-s{height:100%}


.vh-10-s{height:10vh}
.vh-15-s{height:15vh}
.vh-20-s{height:20vh}
.vh-25-s{height:25vh}
.vh-30-s{height:30vh}
.vh-40-s{height:40vh}
.vh-50-s{height:50vh}
.vh-60-s{height:60vh}
.vh-75-s{height:75vh}
.vh-80-s{height:80vh}
.vh-90-s{height:90vh}
.vh-100-s{height:100vh}

.min-h-10-s{min-height:10%}
.min-h-15-s{min-height:15%}
.min-h-20-s{min-height:20%}
.min-h-25-s{min-height:25%}
.min-h-30-s{min-height:30%}
.min-h-40-s{min-height:40%}
.min-h-50-s{min-height:50%}
.min-h-60-s{min-height:60%}
.min-h-75-s{min-height:75%}
.min-h-80-s{min-height:80%}
.min-h-90-s{min-height:90%}
.min-h-100-s{min-height:100%}

.min-vh-10-s{min-height:10vh}
.min-vh-15-s{min-height:15vh}
.min-vh-20-s{min-height:20vh}
.min-vh-25-s{min-height:25vh}
.min-vh-30-s{min-height:30vh}
.min-vh-40-s{min-height:40vh}
.min-vh-50-s{min-height:50vh}
.min-vh-60-s{min-height:60vh}
.min-vh-75-s{min-height:75vh}
.min-vh-80-s{min-height:80vh}
.min-vh-90-s{min-height:90vh}
.min-vh-100-s{min-height:100vh}


.h-auto-s{height:auto}
.h-inherit-s{height:inherit}

/*----- WIDTH -----*/

.w0-00-s{width:0.00rem}
.w0-0625-s{width:0.0625rem}
.w0-125-s{width:0.125rem}
.w0-25-s{width:0.25rem}
.w0-50-s{width:0.50rem}
.w0-75-s{width:0.75rem}
.w1-00-s{width:1.00rem}
.w1-25-s{width:1.25rem}
.w1-50-s{width:1.50rem}
.w1-75-s{width:1.75rem}
.w2-00-s{width:2.00rem}
.w2-50-s{width:2.50rem}
.w3-00-s{width:3.00rem}
.w4-00-s{width:4.00rem}
.w5-00-s{width:5.00rem}
.w6-00-s{width:6.00rem}
.w6-50-s{width:6.50rem}
.w8-00-s{width:8.00rem}
.w10-00-s{width:10.0rem;}
.w12-00-s{width:12.0rem;}
.w14-00-s{width:14.0rem}
.w15-00-s{width:15.0rem}
.w16-00-s{width:16.0rem;}
.w20-00-s{width:20.0rem;}
.w24-00-s{width:24.0rem;}
.w30-00-s{width:30.0rem;}
.w32-00-s{width:32.0rem;}
.w40-00-s{width:40.0rem;}
.w48-00-s{width:48.0rem;}


.w-10-s{width:10%}
.w-15-s{width:15%}
.w-20-s{width:20%}
.w-25-s{width:25%}
.w-30-s{width:30%}
.w-40-s{width:40%}
.w-50-s{width:50%}
.w-60-s{width:60%}
.w-75-s{width:75%}
.w-80-s{width:80%}
.w-90-s{width:90%}
.w-100-s{width:100%}
.w-third-s{width:33.33333%}

.mxw-100-s{max-width:100%}
.mxw-16-s{max-width:16rem}
.mxw-24-s{max-width:24rem}
.mxw-32-s{max-width:32rem}
.mxw-48-s{max-width:48rem}
.mxw-64-s{max-width:64rem}
.mxw-96-s{max-width:96rem}
.mxw-128-s{max-width:128rem}

.mxw-none-s{max-width:none}

.mnw-1-s{min-width:1rem}
.mnw-2-s{min-width:2rem}
.mnw-4-s{min-width:4rem}
.mnw-8-s{min-width:8rem}
.mnw-12-s{min-width:12rem}
.mnw-16-s{min-width:16rem}
.mnw-32-s{min-width:32rem}
.mnw-12-s{width:12.0rem;}

.w-two-thirds-s{width:66.66667%}
.w-auto-s{width:auto}

/*----- OVER FLOW -----*/
.of-visible-s{overflow:visible}
.of-hidden-s{overflow:hidden}
.of-scroll-s{overflow:scroll}
.of-auto-s{overflow:auto}
.of-x-visible-s{overflow-x:visible}
.of-x-hidden-s{overflow-x:hidden}
.of-x-scroll-s{overflow-x:scroll}
.of-x-auto-s{overflow-x:auto}
.of-y-visible-s{overflow-y:visible}
.of-y-hidden-s{overflow-y:hidden}
.of-y-scroll-s{overflow-y:scroll}
.of-y-auto-s{overflow-y:auto}


.measure-s{max-width:30em}
.measure-wide-s{max-width:34em}
.measure-narrow-s{max-width:20em}
} 

@media(min-width:768px){ 
/*----- HEIGHT -----*/
.h0-00-m{height:0.00rem}
.h0-0625-m{height:0.0625rem}
.h0-125-m{height:0.125rem}
.h0-25-m{height:0.25rem}
.h0-50-m{height:0.50rem}
.h0-75-m{height:0.75rem}
.h1-00-m{height:1.00rem}
.h1-25-m{height:1.25rem}
.h1-50-m{height:1.50rem}
.h1-75-m{height:1.75rem}
.h2-00-m{height:2.00rem}
.h2-50-m{height:2.50rem}
.h3-00-m{height:3.00rem}
.h4-00-m{height:4.00rem}
.h5-00-m{height:5.00rem}
.h6-00-m{height:6.00rem}
.h6-50-m{height:6.50rem}
.h8-00-m{height:8.00rem}
.h10-00-m{height:10.0rem}
.h12-00-m{height:12.0rem}
.h16-00-m{height:16.0rem}
.h20-00-m{height:20.0rem}
.h24-00-m{height:24.0rem}
.h30-00-m{height:30.0rem}
.h32-00-m{height:32.0rem}
.h40-00-m{height:40.0rem}
.h48-00-m{height:48.0rem}


.h-10-m{height:10%}
.h-15-m{height:15%}
.h-20-m{height:20%}
.h-25-m{height:25%}
.h-30-m{height:30%}
.h-40-m{height:40%}
.h-50-m{height:50%}
.h-60-m{height:60%}
.h-75-m{height:75%}
.h-80-m{height:80%}
.h-90-m{height:90%;}
.h-100-m{height:100%}


.vh-10-m{height:10vh}
.vh-15-m{height:15vh}
.vh-20-m{height:20vh}
.vh-25-m{height:25vh}
.vh-30-m{height:30vh}
.vh-40-m{height:40vh}
.vh-50-m{height:50vh}
.vh-60-m{height:60vh}
.vh-75-m{height:75vh}
.vh-80-m{height:80vh}
.vh-90-m{height:90vh}
.vh-100-m{height:100vh}

.min-h-10-m{min-height:10%}
.min-h-15-m{min-height:15%}
.min-h-20-m{min-height:20%}
.min-h-25-m{min-height:25%}
.min-h-30-m{min-height:30%}
.min-h-40-m{min-height:40%}
.min-h-50-m{min-height:50%}
.min-h-60-m{min-height:60%}
.min-h-75-m{min-height:75%}
.min-h-80-m{min-height:80%}
.min-h-90-m{min-height:90%}
.min-h-100-m{min-height:100%}

.min-vh-10-m{min-height:10vh}
.min-vh-15-m{min-height:15vh}
.min-vh-20-m{min-height:20vh}
.min-vh-25-m{min-height:25vh}
.min-vh-30-m{min-height:30vh}
.min-vh-40-m{min-height:40vh}
.min-vh-50-m{min-height:50vh}
.min-vh-60-m{min-height:60vh}
.min-vh-75-m{min-height:75vh}
.min-vh-80-m{min-height:80vh}
.min-vh-90-m{min-height:90vh}
.min-vh-100-m{min-height:100vh}


.h-auto-m{height:auto}
.h-inherit-m{height:inherit}

/*----- WIDTH -----*/

.w0-00-m{width:0.00rem}
.w0-0625-m{width:0.0625rem}
.w0-125-m{width:0.125rem}
.w0-25-m{width:0.25rem}
.w0-50-m{width:0.50rem}
.w0-75-m{width:0.75rem}
.w1-00-m{width:1.00rem}
.w1-25-m{width:1.25rem}
.w1-50-m{width:1.50rem}
.w1-75-m{width:1.75rem}
.w2-00-m{width:2.00rem}
.w2-50-m{width:2.50rem}
.w3-00-m{width:3.00rem}
.w4-00-m{width:4.00rem}
.w5-00-m{width:5.00rem}
.w6-00-m{width:6.00rem}
.w6-50-m{width:6.50rem}
.w8-00-m{width:8.00rem}
.w10-00-m{width:10.0rem;}
.w12-00-m{width:12.0rem;}
.w14-00-m{width:14.0rem;}
.w15-00-m{width:15.0rem;}
.w16-00-m{width:16.0rem;}
.w20-00-m{width:20.0rem;}
.w24-00-m{width:24.0rem;}
.w30-00-m{width:30.0rem;}
.w32-00-m{width:32.0rem;}
.w40-00-m{width:40.0rem;}
.w48-00-m{width:48.0rem;}


.w-10-m{width:10%}
.w-15-m{width:15%}
.w-20-m{width:20%}
.w-25-m{width:25%}
.w-30-m{width:30%}
.w-40-m{width:40%}
.w-50-m{width:50%}
.w-60-m{width:60%}
.w-70-m{width:70%}
.w-75-m{width:75%}
.w-80-m{width:80%}
.w-90-m{width:90%}
.w-100-m{width:100%}
.w-third-m{width:33.33333%}

.mxw-100-m{max-width:100%}
.mxw-16-m{max-width:16rem}
.mxw-24-m{max-width:24rem}
.mxw-32-m{max-width:32rem}
.mxw-48-m{max-width:48rem}
.mxw-64-m{max-width:64rem}
.mxw-96-m{max-width:96rem}
.mxw-128-m{max-width:128rem}

.mxw-none-m{max-width:none}

.mnw-1-m{min-width:1rem}
.mnw-2-m{min-width:2rem}
.mnw-4-m{min-width:4rem}
.mnw-8-m{min-width:8rem}
.mnw-12-m{min-width:12rem}
.mnw-16-m{min-width:16rem}
.mnw-32-m{min-width:32rem}
.mnw-12-m{width:12.0rem;}

.w-two-thirds-m{width:66.66667%}
.w-auto-m{width:auto}

/*----- OVER FLOW -----*/
.of-visible-m{overflow:visible}
.of-hidden-m{overflow:hidden}
.of-scroll-m{overflow:scroll}
.of-auto-m{overflow:auto}
.of-x-visible-m{overflow-x:visible}
.of-x-hidden-m{overflow-x:hidden}
.of-x-scroll-m{overflow-x:scroll}
.of-x-auto-m{overflow-x:auto}
.of-y-visible-m{overflow-y:visible}
.of-y-hidden-m{overflow-y:hidden}
.of-y-scroll-m{overflow-y:scroll}
.of-y-auto-m{overflow-y:auto}


.measure-m{max-width:30em}
.measure-wide-m{max-width:34em}
.measure-narrow-m{max-width:20em}
}

@media(min-width:1024px){
/*----- HEIGHT -----*/
.h0-00-l{height:0.00rem}
.h0-0625-l{height:0.0625rem}
.h0-125-l{height:0.125rem}
.h0-25-l{height:0.25rem}
.h0-50-l{height:0.50rem}
.h0-75-l{height:0.75rem}
.h1-00-l{height:1.00rem}
.h1-25-l{height:1.25rem}
.h1-50-l{height:1.50rem}
.h1-75-l{height:1.75rem}
.h2-00-l{height:2.00rem}
.h2-50-l{height:2.50rem}
.h3-00-l{height:3.00rem}
.h4-00-l{height:4.00rem}
.h5-00-l{height:5.00rem}
.h6-00-l{height:6.00rem}
.h8-00-l{height:8.00rem}
.h10-00-l{height:10.0rem}
.h12-00-l{height:12.0rem}
.h16-00-l{height:16.0rem}
.h20-00-l{height:20.0rem}
.h24-00-l{height:24.0rem}
.h30-00-l{height:30.0rem}
.h32-00-l{height:32.0rem}
.h40-00-l{height:40.0rem}
.h48-00-l{height:48.0rem}


.h-10-l{height:10%}
.h-15-l{height:15%}
.h-20-l{height:20%}
.h-25-l{height:25%}
.h-30-l{height:30%}
.h-40-l{height:40%}
.h-50-l{height:50%}
.h-60-l{height:60%}
.h-75-l{height:75%}
.h-80-l{height:80%}
.h-90-l{height:90%;}
.h-100-l{height:100%}


.vh-10-l{height:10vh}
.vh-15-l{height:15vh}
.vh-20-l{height:20vh}
.vh-25-l{height:25vh}
.vh-30-l{height:30vh}
.vh-40-l{height:40vh}
.vh-50-l{height:50vh}
.vh-60-l{height:60vh}
.vh-75-l{height:75vh}
.vh-80-l{height:80vh}
.vh-90-l{height:90vh}
.vh-100-l{height:100vh}

.min-h-10-l{min-height:10%}
.min-h-15-l{min-height:15%}
.min-h-20-l{min-height:20%}
.min-h-25-l{min-height:25%}
.min-h-30-l{min-height:30%}
.min-h-40-l{min-height:40%}
.min-h-50-l{min-height:50%}
.min-h-60-l{min-height:60%}
.min-h-75-l{min-height:75%}
.min-h-80-l{min-height:80%}
.min-h-90-l{min-height:90%}
.min-h-100-l{min-height:100%}

.min-vh-10-l{min-height:10vh}
.min-vh-15-l{min-height:15vh}
.min-vh-20-l{min-height:20vh}
.min-vh-25-l{min-height:25vh}
.min-vh-30-l{min-height:30vh}
.min-vh-40-l{min-height:40vh}
.min-vh-50-l{min-height:50vh}
.min-vh-60-l{min-height:60vh}
.min-vh-75-l{min-height:75vh}
.min-vh-80-l{min-height:80vh}
.min-vh-90-l{min-height:90vh}
.min-vh-100-l{min-height:100vh}


.h-auto-l{height:auto}
.h-inherit-l{height:inherit}

/*----- WIDTH -----*/

.w0-00-l{width:0.00rem}
.w0-0625-l{width:0.0625rem}
.w0-125-l{width:0.125rem}
.w0-25-l{width:0.25rem}
.w0-50-l{width:0.50rem}
.w0-75-l{width:0.75rem}
.w1-00-l{width:1.00rem}
.w1-25-l{width:1.25rem}
.w1-50-l{width:1.50rem}
.w1-75-l{width:1.75rem}
.w2-00-l{width:2.00rem}
.w2-50-l{width:2.50rem}
.w3-00-l{width:3.00rem}
.w4-00-l{width:4.00rem}
.w5-00-l{width:5.00rem}
.w6-00-l{width:6.00rem}
.w8-00-l{width:8.00rem}
.w10-00-l{width:10.0rem;}
.w12-00-l{width:12.0rem;}
.w16-00-l{width:16.0rem;}
.w20-00-l{width:20.0rem;}
.w24-00-l{width:24.0rem;}
.w30-00-l{width:30.0rem;}
.w32-00-l{width:32.0rem;}
.w40-00-l{width:40.0rem;}
.w48-00-l{width:48.0rem;}


.w-10-l{width:10%}
.w-15-l{width:15%}
.w-20-l{width:20%}
.w-25-l{width:25%}
.w-30-l{width:30%}
.w-40-l{width:40%}
.w-50-l{width:50%}
.w-60-l{width:60%}
.w-75-l{width:75%}
.w-80-l{width:80%}
.w-90-l{width:90%}
.w-100-l{width:100%}
.w-third-l{width:33.33333%}

.mxw-100-l{max-width:100%}
.mxw-16-l{max-width:16rem}
.mxw-24-l{max-width:24rem}
.mxw-32-l{max-width:32rem}
.mxw-48-l{max-width:48rem}
.mxw-64-l{max-width:64rem}
.mxw-96-l{max-width:96rem}
.mxw-128-l{max-width:128rem}

.mxw-none-l{max-width:none}

.mnw-1-l{min-width:1rem}
.mnw-2-l{min-width:2rem}
.mnw-4-l{min-width:4rem}
.mnw-8-l{min-width:8rem}
.mnw-12-l{min-width:12rem}
.mnw-16-l{min-width:16rem}
.mnw-32-l{min-width:32rem}
.mnw-12-l{width:12.0rem;}

.w-two-thirds-l{width:66.66667%}
.w-auto-l{width:auto}

/*----- OVER FLOW -----*/
.of-visible-l{overflow:visible}
.of-hidden-l{overflow:hidden}
.of-scroll-l{overflow:scroll}
.of-auto-l{overflow:auto}
.of-x-visible-l{overflow-x:visible}
.of-x-hidden-l{overflow-x:hidden}
.of-x-scroll-l{overflow-x:scroll}
.of-x-auto-l{overflow-x:auto}
.of-y-visible-l{overflow-y:visible}
.of-y-hidden-l{overflow-y:hidden}
.of-y-scroll-l{overflow-y:scroll}
.of-y-auto-l{overflow-y:auto}


.measure-l{max-width:30em}
.measure-wide-l{max-width:34em}
.measure-narrow-l{max-width:20em}
}

@media(min-width:1280px){ 
/*----- HEIGHT -----*/
.h0-00-xl{height:0.00rem}
.h0-0625-xl{height:0.0625rem}
.h0-125-xl{height:0.125rem}
.h0-25-xl{height:0.25rem}
.h0-50-xl{height:0.50rem}
.h0-75-xl{height:0.75rem}
.h1-00-xl{height:1.00rem}
.h1-25-xl{height:1.25rem}
.h1-50-xl{height:1.50rem}
.h1-75-xl{height:1.75rem}
.h2-00-xl{height:2.00rem}
.h2-50-xl{height:2.50rem}
.h3-00-xl{height:3.00rem}
.h4-00-xl{height:4.00rem}
.h5-00-xl{height:5.00rem}
.h6-00-xl{height:6.00rem}
.h8-00-xl{height:8.00rem}
.h10-00-xl{height:10.0rem}
.h12-00-xl{height:12.0rem}
.h16-00-xl{height:16.0rem}
.h20-00-xl{height:20.0rem}
.h24-00-xl{height:24.0rem}
.h30-00-xl{height:30.0rem}
.h32-00-xl{height:32.0rem}
.h40-00-xl{height:40.0rem}
.h48-00-xl{height:48.0rem}


.h-10-xl{height:10%}
.h-15-xl{height:15%}
.h-20-xl{height:20%}
.h-25-xl{height:25%}
.h-30-xl{height:30%}
.h-40-xl{height:40%}
.h-50-xl{height:50%}
.h-60-xl{height:60%}
.h-75-xl{height:75%}
.h-80-xl{height:80%}
.h-90-xl{height:90%;}
.h-100-xl{height:100%}


.vh-10-xl{height:10vh}
.vh-15-xl{height:15vh}
.vh-20-xl{height:20vh}
.vh-25-xl{height:25vh}
.vh-30-xl{height:30vh}
.vh-40-xl{height:40vh}
.vh-50-xl{height:50vh}
.vh-60-xl{height:60vh}
.vh-75-xl{height:75vh}
.vh-80-xl{height:80vh}
.vh-90-xl{height:90vh}
.vh-100-xl{height:100vh}

.min-h-10-xl{min-height:10%}
.min-h-15-xl{min-height:15%}
.min-h-20-xl{min-height:20%}
.min-h-25-xl{min-height:25%}
.min-h-30-xl{min-height:30%}
.min-h-40-xl{min-height:40%}
.min-h-50-xl{min-height:50%}
.min-h-60-xl{min-height:60%}
.min-h-75-xl{min-height:75%}
.min-h-80-xl{min-height:80%}
.min-h-90-xl{min-height:90%}
.min-h-100-xl{min-height:100%}

.min-vh-10-xl{min-height:10vh}
.min-vh-15-xl{min-height:15vh}
.min-vh-20-xl{min-height:20vh}
.min-vh-25-xl{min-height:25vh}
.min-vh-30-xl{min-height:30vh}
.min-vh-40-xl{min-height:40vh}
.min-vh-50-xl{min-height:50vh}
.min-vh-60-xl{min-height:60vh}
.min-vh-75-xl{min-height:75vh}
.min-vh-80-xl{min-height:80vh}
.min-vh-90-xl{min-height:90vh}
.min-vh-100-xl{min-height:100vh}


.h-auto-xl{height:auto}
.h-inherit-xl{height:inherit}

/*----- WIDTH -----*/

.w0-00-xl{width:0.00rem}
.w0-0625-xl{width:0.0625rem}
.w0-125-xl{width:0.125rem}
.w0-25-xl{width:0.25rem}
.w0-50-xl{width:0.50rem}
.w0-75-xl{width:0.75rem}
.w1-00-xl{width:1.00rem}
.w1-25-xl{width:1.25rem}
.w1-50-xl{width:1.50rem}
.w1-75-xl{width:1.75rem}
.w2-00-xl{width:2.00rem}
.w2-50-xl{width:2.50rem}
.w3-00-xl{width:3.00rem}
.w4-00-xl{width:4.00rem}
.w5-00-xl{width:5.00rem}
.w6-00-xl{width:6.00rem}
.w8-00-xl{width:8.00rem}
.w10-00-xl{width:10.0rem;}
.w12-00-xl{width:12.0rem;}
.w16-00-xl{width:16.0rem;}
.w20-00-xl{width:20.0rem;}
.w24-00-xl{width:24.0rem;}
.w30-00-xl{width:30.0rem;}
.w32-00-xl{width:32.0rem;}
.w40-00-xl{width:40.0rem;}
.w48-00-xl{width:48.0rem;}


.w-10-xl{width:10%}
.w-15-xl{width:15%}
.w-20-xl{width:20%}
.w-25-xl{width:25%}
.w-30-xl{width:30%}
.w-40-xl{width:40%}
.w-50-xl{width:50%}
.w-60-xl{width:60%}
.w-75-xl{width:75%}
.w-80-xl{width:80%}
.w-90-xl{width:90%}
.w-100-xl{width:100%}
.w-third-xl{width:33.33333%}

.mxw-100-xl{max-width:100%}
.mxw-16-xl{max-width:16rem}
.mxw-24-xl{max-width:24rem}
.mxw-32-xl{max-width:32rem}
.mxw-48-xl{max-width:48rem}
.mxw-64-xl{max-width:64rem}
.mxw-96-xl{max-width:96rem}
.mxw-128-xl{max-width:128rem}

.mxw-none-xl{max-width:none}

.mnw-1-xl{min-width:1rem}
.mnw-2-xl{min-width:2rem}
.mnw-4-xl{min-width:4rem}
.mnw-8-xl{min-width:8rem}
.mnw-12-xl{min-width:12rem}
.mnw-16-xl{min-width:16rem}
.mnw-32-xl{min-width:32rem}
.mnw-12-xl{width:12.0rem;}

.w-two-thirds-xl{width:66.66667%}
.w-auto-xl{width:auto}

/*----- OVER FLOW -----*/
.of-visible-xl{overflow:visible}
.of-hidden-xl{overflow:hidden}
.of-scroll-xl{overflow:scroll}
.of-auto-xl{overflow:auto}
.of-x-visible-xl{overflow-x:visible}
.of-x-hidden-xl{overflow-x:hidden}
.of-x-scroll-xl{overflow-x:scroll}
.of-x-auto-xl{overflow-x:auto}
.of-y-visible-xl{overflow-y:visible}
.of-y-hidden-xl{overflow-y:hidden}
.of-y-scroll-xl{overflow-y:scroll}
.of-y-auto-xl{overflow-y:auto}


.measure-xl{max-width:30em}
.measure-wide-xl{max-width:34em}
.measure-narrow-xl{max-width:20em}
    
}

/* --x-- Mobo First Media Queries --x--*/